{% extends "base.html" %}

{% block title %}Добавление новости{% end %}

{% block content %}
  <h1>Добавьте свою новость</h1>
  <div class="menu">
    <a href="/">Главная</a>
  </div>

  <form action="/news/add" method="post" enctype="multipart/form-data" class="add-news-form">
  <label for="title">Заголовок</label>
  <div>
    <input type="text" name="title" class="title">
  </div>
    <div>
      <label for="body">Основной текст</label>
      <textarea name="body" class="body"></textarea>
    </div>
    <div>
      <label for="image">Картинка:</label>
      <input type="file" accept="image/jpeg" name="image" class="file">
    </div>
    <div>
      <input type="submit" value="Отправить" class="submit">
    </div>
  </form>
{% end %}