{% extends "base.html" %}

{% block title %}Главная страница{% end %}

{% block content %}
<h1>Список всех новостей</h1>
  {% for item in items %}
    <h2>{{ item['title'] }} </h2>
    <p>{{ item['datetime'] }}</p>
    <p>{{ item['body'] }}</p>
    <a href="{{ item['url'] }}">Opa!</a>
    <img src="{{ item['img_url'] }}" alt="">
    <hr>
  {% end %}
  <div class="pagination">

    {% if pagination['current_page'] != pagination['first_page'] %}
      <span class="first"><a href="{{ pagination['first_page'] }}">first</a></span>
    {% end %}

    {% if pagination['prev_page'] %}
      <span class="prev"><a href="{{ pagination['prev_page'] }}">prev</a></span>
    {% end %}

    <span>{{ pagination['current_page'] }} of {{ pagination['last_page'] }}</span>

    {% if pagination['next_page'] %}
      <span class="next"><a href="{{ pagination['next_page'] }}">next</a></span>
    {% end %}

    {% if pagination['current_page'] != pagination['last_page'] %}
      <span class="first"><a href="{{ pagination['last_page'] }}">last</a></span>
    {% end %}

  </div>
  
{% end %}