{% extends "base.html" %}

{% block title %}Главная страница{% end %}

{% block content %}
  <h1>Список всех новостей</h1>
  <div class="menu">
    <a href="/news/add">Добавить новость</a>
    <a href="/parse">Парсить новости с point.md</a>
  </div>
  <div class="news">
    {% for item in items %}
    <div class="item">
      <a href="{{ item['url'] }}"><h2>{{ item['title'] }} </h2></a>
      <span class="date">{{ item['datetime'] }}</span>
      <img class="thumbnail"src="{{ item['img_url'] }}" alt="">
      <div class="body"><p>{{ item['body'] }}</p></div>
      <hr>
    </div>
    {% end %}
  </div>
  
  <div class="pagination">

    {% if pagination['current_page'] != pagination['first_page'] %}
      <span class="first"><a href="{{ pagination['first_page'] }}">&lt;&lt; Начало</a></span>
    {% end %}

    {% if pagination['prev_page'] %}
      <span class="prev"><a href="{{ pagination['prev_page'] }}">&lt; Пред.</a></span>
    {% end %}

    <span>{{ pagination['current_page'] }} из {{ pagination['last_page'] }}</span>

    {% if pagination['next_page'] %}
      <span class="next"><a href="{{ pagination['next_page'] }}">След. &gt;</a></span>
    {% end %}

    {% if pagination['current_page'] != pagination['last_page'] %}
      <span class="last"><a href="{{ pagination['last_page'] }}">Конец &gt;&gt;</a></span>
    {% end %}

  </div>
  
{% end %}


